.form-container {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: #dc3545;
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  white-space: pre-wrap;
}

.success {
  color: #155724;
  background-color: #d4edda;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

.uploading {
  color: #856404;
  background-color: #fff3cd;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.file-input-label {
  font-weight: bold;
  color: #555;
}

.file-input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.file-name-box {
  border: 1px solid #ccc;
  padding: 5px;
  min-height: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.upload-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:disabled {
  background-color: #cccccc;
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-blue {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-pink {
  background-color: #ff69b4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-orange {
  background-color: #ffa500;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subheader {
  font-size: 12px;
  color: #555;
  margin-top: 10px; /* Jarak ke judul */
  margin-bottom: 20px; /* Jarak ke form */
  text-align: center; /* Rata tengah seperti judul */
}